<.simple_form
  for={@form}
  id="resource-form"
  phx-target={@myself}
  phx-change="validate"
  phx-submit="save"
>
  <.input field={@form[:name]} type="text" label="Name" />
  <.input field={@form[:description]} type="textarea" label="Description" rows={5} />
  <.input field={@form[:course_id]} type="select" label="Course" options={@courses} />
  
  <:actions>
    <.button phx-disable-with="Saving...">Save Knowledge Resource</.button>
  </:actions>
</.simple_form>
