<.simple_form
  for={@form}
  id="course-form"
  phx-target={@myself}
  phx-change="validate"
  phx-submit="save"
>
  <.input field={@form[:title]} type="text" label="Title" />
  <.input field={@form[:description]} type="textarea" label="Description" />
  <.input field={@form[:teacher_id]} type="select" label="Teacher" options={@teachers} />
  
  <:actions>
    <.button phx-disable-with="Saving...">Save Course</.button>
  </:actions>
</.simple_form>
